.header {
    background-color: #E07A5F; /* Vibrant blue */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
   height: 85px;
   width: 85px;
   border-radius: 85%;
  
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffd700; /* Gold on hover */
  }
  .logo-name{
      font-family: "Comic Sans MS", cursive, sans-serif;
      color: #024b20;
  }
  .logo-container{
    display: flex;
    align-items: center;
    
  }
  .logo-description{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  